[submodule "3rdparty/composable_kernel"]
	path = 3rdparty/composable_kernel
	url = https://github.com/ROCm/composable_kernel.git
[submodule "3rdparty/rocSHMEM"]
	path = 3rdparty/rocSHMEM
	url = https://github.com/ROCm/rocSHMEM.git
